.caption {
  text-transform: uppercase;
  font-weight: bold;
  color: $black;
  margin-bottom: 35px;
}
.heading {
  font-size: 40px;
  font-weight: 800;
  color: $black;
  margin-bottom: 30px;
  line-height: 1.25;
  &--big {
    font-size: 50px;
  }
  &--small {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.text {
  font-size: 16px;
  color: $gray-light;
  &--big {
    font-size: 24px;
  }
}

@include maxWidth(1023px) {
  .caption {
    margin-bottom: 10px;
  }
  .heading {
    margin-bottom: 20px;
    &--big {
      font-size: 40px;
    }
  }
}
@include maxWidth(767px) {
  .caption {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .heading {
    font-size: 26px;
    margin-bottom: 15px;
    &--small {
      font-size: 20px;
    }
    &--big {
      font-size: 30px;
    }
  }
  .text{
    font-size: 14px;
  }
  .text--big {
    font-size: 20px;
  }
  body {
    font-size: 14px;
  }
}
