$primary-font: "Open sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$bg-color: #FDF9F1;
$black: #1E1E1E;
$gray-dark: #4f4d49;
$gray-light: #545454;
$primary-color: #E6FF4B;
$secondary-color: #00BD82;

